<div>
  <form>
    <input type="number" min=1 max=721 name="pokesearch" class="poke_field" id="number_field" required autofocus >
    <input type="submit" value="Search!" class="poke_submit" id="submit_button" >
  </form>
</div>